@import "node_modules/materialize-css/sass/materialize.scss";
@import "table.scss";

#my-app > div, #debug > div {
  display: flex;
}

aside, main {
  height: 100vh;
  overflow-y: auto;
}

aside {
  min-width: 25%;
  margin-right: 20px;
  padding: 20px;

  @extend .orange, .lighten-3;

  .btn {
    width: 100%;
  }

  .collection-item {
    cursor: pointer;
  }
}

main {
  flex: 1;

  h1 {
    cursor: pointer;
    user-select: none;
  }
}
